<!DOCTYPE html>

<!-- made thanks to (or only by) chat gpt -->

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- todo mieux comprendre cette ligne -->
<!-- todo faire le css (automatiquement chat gpt) -->
<title>HTML Elements Example</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  <!-- used for $-->

</head>
<body>




<!-- Text for the question -->
{% if question_and_information %}


<h3 id"text_question">{{question_and_information}}</h3>
{% endif %}





<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
<hr>

<!-- 
Form 
button for numerical answer
I could do dynamic choise when overing each proposal (complicated, and still would need to have number for other things)

todo make it function : 
  -->
  
  <hr>
<form method="POST" action="/answer_with_number">

  <label for="numericInput">Enter a number:</label>
  <input type="number" id="numericInput" name="numericInput" placeholder="Enter a number" autofocus>
  
  <input type="submit" value="Submit">
  
  
</form>
<hr>




<!-- test for updating variables-->
    <h1>Welcome to the Information Page</h1>
    <p id="informationPlaceholder">{{ information }}</p>  <!-- todo change it so it is beautiful -->
<script>
    function updateInformation() {
        $.ajax({
            url: '/get_information',  // The URL to send the AJAX request to
            type: 'GET',  // The HTTP method (GET in this case)
            dataType: 'json',  // The expected data type of the response (JSON)
            success: function(data) {  // Callback function for successful response
                $('#informationPlaceholder').text(data.information);
            },
            error: function() {  // Callback function for error
                console.log('Error fetching information.');
            }
        });
    }

    // Call the updateInformation function to fetch data initially
    updateInformation();

    // You can set up a timer to periodically update the information
    setInterval(updateInformation, 1000);  // Update every 1 seconds
</script>




<!-- test for updating images : (#1 I think fail)


    <h1>Image from Server</h1>
    <img src="{{ image_url }}" alt="Image from Server">-->
<!-- test for updating images : (#2)-->

	<h1>Matplotlib Plot</h1>
	{% if generate_plot %}

    <img src="{{ url_for('generate_plot') }}" alt="Matplotlib Plot">
    {% endif %}
	
	
	<!-- test for updating images : (#3)-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("form").submit(function (event) {
            event.preventDefault();
            $.post("/generate_plot", function (data) {
                // Display the generated plot in the 'plot-container' div
                $("#plot-container").html("<img src='data:image/png;base64," + data.plot + "'>");
            });
        });
    });
</script>

<h1>Generate Matplotlib Plot</h1>
    <form method="POST" action="/generate_plot">
        <input type="submit" value="Generate Plot">
    </form>
    <div id="plot-container">
        <!-- The Matplotlib plot will be displayed here -->
    </div>
</body>
</html>
